.chat {
  display: flex;
  height: 100%;

  stream-channel-list {
    width: 30%;
  }

  stream-channel {
    width: 100%;
  }

  stream-message-input {
    width: auto;
    height: fit-content;
  }
}
